html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background-color: #ccc;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.title {
  font-weight: 500;
  color: #333;
}

/* Checkbox */
.label-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border: 2px solid #777;
  border-radius: 2px;
  background-color: #fff;
  transition: background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

#checkbox:checked ~ .label-checkbox {
  background-color: #009688;
  border: none;
}

#checkbox:checked ~ .label-checkbox::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: 6px;
  box-shadow: inset -2px -2px #fff;
  rotate: 45deg;
}

/* Radio */
.label-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 2px solid #777;
  border-radius: 50%;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
}

#radio:checked ~ .label-radio {
  border: 4px solid #fff;
  background-color: #009688;
  outline-color: #009688;
}

/* Switch */
.label-switch {
  display: inline-block;
  width: 44px;
  height: 18px;
  position: relative;
  border-radius: 999px;
  background-color: #939393;
  transition: background-color 0.3s ease;
}

.label-switch::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: background-color 0.3s ease, translate 0.3s ease;
}

#switch:checked ~ .label-switch {
  background-color: #6dbeb7;
}

#switch:checked ~ .label-switch::before {
  background-color: #009688;
  translate: 100%;
}
